.card {
    box-shadow: var(--shadow-1);
    text-align: center;
    padding: 16px;
    min-width: 200px;
    max-width: 300px;
    box-sizing: content-box;
    flex-grow: 1;
    border-radius: 16px;
    background-color: var(--background-colour-2);

    &:hover {
        box-shadow: var(--shadow-2);
        /* background-color: var(--primary-light); */
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}