.main {
  max-width: 1000px;
  background-color: white;
  padding: 5em;
  padding-top: 3em;
  border-left: 2px solid var(--off-black);
  border-right: 2px solid var(--off-black);
}

.h1 {
  font-size: xxx-large;
}


.background {
  display: flex;
  justify-content: center;
  background-color: var(--primary-light)
}

.section-header {
  padding-top: 0.5em; 
  padding-bottom: 0.5em;
}
