name: Playwright Tests
on:
  push:
  workflow_dispatch:
jobs:
  test:
    env: 
      APP_BASE_URL: http://localhost:3000
      AUTH0_SECRET: ${{ secrets.AUTH0_SECRET }}
      AUTH0_DOMAIN: dev-drcxifgs3iqswj8t.us.auth0.com
      AUTH0_CLIENT_ID: kPko9IN9bUyMAQ5HfoV9i5ktLhfJ9TxC
      AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
      EMAIL_OCTOPUS_LIST_ID: 983fa6bc-c369-11f0-821e-416e3640eb4d
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install -g yarn && yarn
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: start ui
      run: |
        yarn workspace neo-nano-ui build
        yarn workspace neo-nano-ui start & 
        npx wait-on http://localhost:3000
    - name: Run Playwright tests
      run: yarn playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
